body {
    background-color: aqua;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

input {
    width: 80%;
    margin-bottom: 0;
}

.inputBody {
    width: 80%;
    height: 8rem;
    margin-bottom: 0;
}